*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.project-pages{

    position: relative;
    width: 100%;
    height: auto;
    background-color: #E4E3D9;

    overflow: hidden;

}

nav{

    display: flex;
    width: 800px;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: center;

}

nav ul li{

    display: inline-block;
    list-style: none;
    margin: 30px 20px;

}

nav ul li a{

    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{

    color: #557546;

}

nav ul li a.current{

    color: #557546

}

.back{

    font-size: 150%;
    position: absolute;
    top: 15px;
    left: 60px;
}

.content{
    
    position: relative;
    padding: 80px;

    background-color: #E4E3D9;

}

.content h1{

    color: #2f4922;
    font-size: 200%;
    letter-spacing: 5px;
    margin-bottom: 50px;
    text-align: center;

}

.content h2{
    position: relative;
    color: #2f4922;
    font-size: 180%;
    letter-spacing: 5px;
    margin-bottom: 10px;

}

.content p{

    line-height: 40px;
    font-size: 90%;

    font-family:  Arial, sans-serif;
    letter-spacing: 1px;
    position: relative;
    color: rgb(34, 34, 34);

}

.content img{

    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);

}

.idoc img{

    margin: 60px 9px;
}

.intro{
    position: relative;
    margin-bottom: 200px;
}

img.title-card{
    
    display: block;
    margin: 70px auto;
    width: 100%;
}

.structure{
    position: relative;
    margin-bottom: 400px;
}

.structure h2{
    left: 720px;
    top: 110px;
}

.structure p{
    width: 500px;
    left: 720px;
    top: 130px;
}

.structure img{

    position: absolute;
    width: 600px;
    left: 50px;

}

img.porten{
    left: 480px;
    top: 270px;
}



.colors{
    position: relative;
    margin-bottom: 600px;
    left: 60px;
}

.colors h2{
    top: 400px;
    left: 100px;
}

.colors p{

    width: 700px;
    left: 50px;
    top: 440px;

}

.colors img{
    position: absolute;
    right: 200px;
    top: 350px;
    border-radius: 5px;
    width: 200px;
}

.hci{
    position: relative;
    display: flex;
    height:2200px;
    width: 80%;
    align-items: stretch;
}

.preview{
    position: relative;
    top:100px;
    left:100px;
    margin: 15vh auto;
    display: block;
    height:fit-content;
    width: 90%;
}

.preview p{
    top: 50px;
    left: 0;
    text-align: justify;
    width: 600px;
}

.preview img{
    position: absolute;
    height: 50vh;
}

.preview .images{
    position: absolute;
    top: 0;
    left: 700px;
    margin: 10px;
}

img.page1{
    left: 200px;
    top: -100px;
}

img.week{
    top: -50px;
}

img.chats{
    top: -50px;
    left:400px;

}

.prototype{
    position: absolute;
    top: 900px;
    left: 0px;
    margin: 15vh auto;
    display: block;
    width: 100vh;
}

.prototype p{
    position: relative;
    text-align: justify;
    left: 900px;
    width: 400px;
    margin: 10px;

}

.prototype img{
    position: relative;
    bottom: 400px;
    right: 10px;
    width: 800px;
}

.function{
    position: absolute;
    top:1650px;
    right:100px;
    margin: 15vh auto;
    display: block;
    width: 100vh;
}


.function p{
    position: relative;
    text-align: justify;
    width: 500px;
    margin: 10px;
}

.function img{
    position: absolute;
    height: 300px;
}

.function .images{
    position: absolute;
    top: 0;
    left: 600px;
    margin: 10px;
}

img.month{
    left: 0;
}

img.chat{
    left: 230px;
}

img.notifs{
    left: 460px;
}

.memory{
    height:1000px;
}

.memory p{
    width: 500px;
    top: 20vh;
    left: 700px;
}

.memory img{

    position: absolute;

}

.start{
    top: 230px;
    left: 10vh;
    height: 500px;
}

.game img{
    position: absolute;
    top: 750px;
    width: 400px;
    margin: 40px;
}

img.play{
    left: 5vw;
}

img.win{
    left: 35vw;
}

img.score{
    left: 65vw;
}